.sproduct-page{
margin-top: 8%;
}
.details-container {
  direction: rtl;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.page-title {
  color: #0a2a57;
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 26px;
}

.details-box {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.details-image img {
  width: 420px;
  border-radius: 15px;
}

.details-title {
  font-size: 26px;
  font-weight: bold;
  color: #0a2a57;
}

.rating {
  margin: 10px 0;
  font-size: 20px;
  color: #f4a100;
  display: flex;
  gap: 5px;
}

.star {
  color: #f4a100;
}

.price-box {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  font-size: 20px;
}

.new-price {
  color: #e85d04;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.discount {
  color: #0077b6;
  font-weight: bold;
}

.long-desc {
  color: #666;
  font-size: 16px;
  margin-top: 15px;
}

.shipping-box {
  display: flex;
  margin: 40px 0;
}

.dark-btn, .orange-btn {
  flex: 1;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.dark-btn {
  background: #143c70;
  color: #fff;
  border-radius: 10px 0 0 10px;
}

.orange-btn {
  background: #ff7b00;
  color: white;
  border-radius: 0 10px 10px 0;
}

.store-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 20px;
  margin: 30px 0;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.store-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.rate-title {
  margin-top: 35px;
  font-size: 22px;
  font-weight: bold;
}

.rating-stars {
  font-size: 35px;
  color: #ddd;
}
 .product-titleprodetails{
font-size: 27px;
font-weight: bold
;
} 
 .product-titledetails{
      font-size: 27px;
        font-weight: bold;
 }
.star-wrapperprodetails svg{
font-size: 26px;
    color: #FFD900;

}
.rate-numberprodetails{
  color: #9e9e9e;
  font-size: 30px;
  font-weight: bold;
  
}
.rating-rowdetails {
display: flex;
    align-items: center;
    gap: 10px;
}
.product-infoprodetails{
      width: 42%;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 27px;
}
.product-descpro2{
  font-size: 27px;
  font-weight: 400;
}
.product-image-boxdetails{
 width: 51%;
    max-width: 520px;
    height: 51vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: #f5f5f5;

}
