@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;

  font-family: 'Tajawal',sans-serif;
}

