/* ================= UPPERNAV ================= */

.tn-uppernav {
  width: 100%;
  background: #ffffff;
  padding: 8px 0;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-bottom: 1px solid #eee;
  direction: rtl;
  height: 82px;
}

.tn-uppernav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.tn-nav-logo {
  width: 8%;
}

/* SEARCH */
.tn-search-box {
  width: 45%;
  position: relative;
  margin-top: 8px;
}

.tn-search-box input {
  width: 100%;
  padding: 12px 43px;
  border-radius: 30px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  outline: none;
}

.tn-search-icon {
  position: absolute;
  left: 93%;
  top: 34%;
  color: #0c317a;
}

/* LEFT ICONS */
.tn-left-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 13px;
}

.tn-nav-icon {
  font-size: 22px;
  color: #0c317a;
  cursor: pointer;
}

.tn-lang-btn {
  background: #ffe8e1;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  color: #0c317a;
  cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width: 480px) {
  .tn-uppernav {
    height: auto;
    padding: 10px 0;
  }

  .tn-uppernav-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .tn-nav-logo {
    width: 35%;
  }

  .tn-search-box {
    width: 100%;
    margin-top: 5px;
  }

  .tn-search-box input {
    font-size: 14px;
    padding: 10px 38px;
  }

  .tn-search-icon {
    left: 90%;
    top: 32%;
  }

  .tn-left-icons {
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-top: 5px;
  }

  .tn-nav-icon {
    font-size: 20px;
  }

  .tn-lang-btn {
    font-size: 13px;
    padding: 5px 12px;
  }
}

/* ================= TABLET ================= */

@media (min-width: 481px) and (max-width: 768px) {
      /* bottom: 21%; */

  .tn-nav-logo {
    width: 12%;
  }

  .tn-search-box {
    width: 50%;
  }

  .tn-search-box input {
    font-size: 15px;
  }

  .tn-left-icons {
    gap: 15px;
  }

  .tn-nav-icon {
    font-size: 21px;
  }
}

/* ================= TABLET LANDSCAPE ================= */

@media (min-width: 769px) and (max-width: 992px) {
  .tn-nav-logo {
    width: 12%;
  }

  .tn-search-box {
    width: 48%;
  }

  .tn-nav-icon {
    font-size: 21px;
  }
}
